::-webkit-input-placeholder { color: white; }
body {
  background-color: #66f;
  margin-top: 0px;
  margin:0px;
}

h1{
  margin: 0px;
  color: white;
  font-family:fantasy;
  font-size: 50px;
  font-weight: 10;

}
header{
  background-color:#A71AE8;
  padding: 30px;
  margin-top:0px;

}
li{
  display: inline;
  width: 25%;
  float: left;

}
li a{

  color:#550985;
  background-color: #DE8CFF;
  display: block;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  font-family: fantasy;
  font-size: 20px;

}
li a:hover {
  color: white;
  background-color: #B52AFF;
  box-shadow: 3px 3px 10px black;
  box-decoration-break:slice;
}

.nav-personas {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #DE8CFF;
  font-family: fantasy;
  font-size: 15px;
  float:left;
}
.nav-personas-busqueda {
  width: 50%;
  float: left;
}

.nav-personas-op {
  width: 50%;
  float: left;

}
.btn-nuevo {

  width: 80%;
  margin-left: 10%;

  float: left;
}

input {
  color: white;
  background-color: #804675;
  border-radius: 5px;
  height: 20px;

}
button {
  height: 28px;
  color:#550985;
  background-color: #DE8CFF;
  font-family: monospace;
  font-variant:normal;
  font-weight: lighter;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 1%;
 border-style: none;
  border-color: #550985;
  border-width: thin;
}

button:hover {
  background-color: #B52AFF;
  border-style: double;
  box-shadow: 1px 1px 5px black;

}
button:active {
  border-style: inset;
}

#id {
  width: 5%;

}
#btn-cerrar{
  width: 35px;
  height: 30px;
  font-weight: bold;
  height: inherit;
  font-size:25px;
  align-content: center;
  color:white;
  margin-top: 1%;
  background-color: red;

}

#btn-cerrar:hover{
  background-color: black;
}

.busqueda-tam {

  width: 30%;
  float: left;
}

.ventana {
  width: 100%;
  height: 100%;
  color: #FFF;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url(../img/BG.png);
  display:none;
}
 label {
   color:#550985;
   font-family: fantasy;
   font-size: 20px;
 }
.detalles {
  color: #666;
  width: 50%;
  height: 80%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 25%;
  background-color: #FFF;
  box-shadow: 5px 5px 20px black;
}

.l-edit{
  padding-left: 15%;
  margin-top: 3%;
}
#n-edit{
  width: 40%;
  margin-top: 2.5%;
  margin-left: 17.7%;
}
#a-edit{
  width: 40%;
  margin-top: 2.5%;
  margin-left: 17.1%;
}
#e-edit{
  width: 40%;
  margin-top: 2.5%;
  margin-left: 5%;
}
#btn-guardar{
  width: 60%;
  margin-left: 20%;
  margin-top:5%;
}
article {
  color:#550985;
  background-color: #DE8CFF;
  width: 30%;
  margin-left: 1%;
  padding: 1%;
  margin-top: 1%;
  border-radius: 1%;
  float: left;

}
article:hover {
  color: white;
  background-color: #B52AFF;
  box-shadow: 3px 3px 10px black;
  box-decoration-break:slice;
}
.input-nueva {
  width: 90%;
  margin-bottom: 1%;
}
#registro {
  width: 80%;
  margin-left: 5%;

}
.nueva {
  background-color: #DE8CFF;
  width: 30%;
  float: left;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 35%;
  margin-right: 35%;
  display: none;
}
.cerrar {
  color: black;
  font-weight: 500;
  text-align: right;
  margin-right: 2px;
}

main{
  margin: 10%;
}
